<body>
    <div class="overlay">
        <section class="sidebar-overlay">
            <div class="sidebar-panel">
                <div class="sidebar-header">
                    <div class="sidebar-header-content">
                        <h2 class="sidebar-title">Transactions</h2>
                        <button id="close-button" class="sidebar-close-button">
                            Close
                        </button>
                    </div>
                </div>

                <% if (transactions.length > 0) { %>
                    <div class="sidebar-content">
                        <ul class="transaction-list">
                            <% transactions.forEach(transaction => {
                                if (transaction.order_status !== "completed") {%>
                                <li class="transaction-item">
                                    <div class="transaction-header">
                                        <h4 class="transaction-name">Transaction #<%= transaction._id %></h4>
                                        <p class="transaction-info">
                                            <%= transaction.purchase_date %>
                                        </p>
                                        <button data-transactionid="/api/store/get-client/<%= transaction.user_id %>"
                                            class="customer-info-button">
                                            Get Customer Info
                                        </button>
                                    </div>
                                    
                                    <!-- Products List -->
                                    <div class="order-header">
                                        <% transaction.products.forEach(product => { %>
                                            <div class="order-info">
                                                <div class="product-content">
                                                    <h4><%= product.name %></h4>
                                                    <p>$<%= product.price %></p>
                                                    <p class="product-status">Status: <%= product.single_order_status %></p>
                                                </div>
                                                
                                                <form action="/api/store/transaction/set-status/<%= transaction._id %>/<%= product.product_id %>" 
                                                      method="post" class="product-actions">
                                                    <button type="submit" name="status" value="accepted"
                                                        class="status-button status-button-accept">Accept</button>
                                                    <button type="submit" name="status" value="rejected"
                                                        class="status-button status-button-reject">Reject</button>
                                                    <button type="submit" name="status" value="completed"
                                                        class="status-button status-button-complete">Complete</button>
                                                </form>
                                            </div>
                                        <% }); %>
                                    </div>
                                </li>
                            <% }}); %>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="empty-state">
                        <p class="empty-message">No user transactions.</p>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
</body>