<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>polyPhonic</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body id="body">
  <header class="store-header">
    <div class="header-container">
      <div class="header-flex">
        <div class="header-logo">
          <a class="header-title" href="#">
            <h3>Welcome, <%= userName %>
            </h3>
          </a>
        </div>

        <div class="header-actions">
          <div id="cart-button" class="relative md:block group">
            <a class="action-button" href="#">
              <span class="button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
              </span>
              <span class="button-text">My Cart</span>
            </a>
          </div>

          <div id="order-button" class="relative md:block group">
            <a class="action-button" href="#">
              <span class="button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-5 rtl:rotate-180">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
              </span>
              <span class="button-text">My Orders</span>
            </a>
          </div>

          <div id="logout-button" class="relative md:block group">
            <a class="action-button action-button-secondary" href="#">
              <span class="button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-5 rtl:rotate-180">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>
              </span>
              <span class="button-text">Logout</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </header>

  <main class="main-content">
    <header class="inner-header">
      <h2 class="inner-header-title">Which store would you like to check out?</h2>
      <p class="inner-header-desc">
        Browse our selection of available stores in your area. Each store offers unique products and services.
      </p>
    </header>

    <section class="overlay"></section>

    <section class="product-grid">
      <% const stores=stores_list; let count=0;%>
        <% if (stores && stores.length> 0) { %>
          <% stores.forEach(store=> { %>
            <a href="/api/category/get/<%= store.name %>-<%= store.id %>" class="store-card">
              <img
                src="https://img.freepik.com/premium-vector/online-store-icon-template-vector-flat-design_617585-5785.jpg"
                alt="<%= store.name %>" class="store-image" />
              <div class="store-content">
                <h3 class="store-name">
                  <%= store.name %>
                </h3>
                <p class="store-location">
                  <span>
                    <%= store.location %>
                  </span>
                </p>
                <p class="store-founded">
                  Founded on <%= store.founded_date %>
                </p>
              </div>
            </a>
            <% }); %>
              <% } else { %>
                <div id="emptyMessage" class="empty-products">No stores found.</div>
                <% } %>
    </section>
  </main>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main.js"></script>