<body>
  <div class="overlay">
    <div class="sidebar-overlay">
      <div class="sidebar-panel">
        <div class="sidebar-header">
          <div class="sidebar-header-content">
            <h2 class="sidebar-title">My Orders</h2>
            <button id="close-button" class="sidebar-close-button">
              Close
            </button>
          </div>
        </div>

        <% if (orders && orders.length> 0) { %>
          <div class="sidebar-content">
            <ul class="transaction-list">
              <% orders.forEach(order=> {
                if (order.status == "completed") {%>
                <li class="order-item-completed">
                  <%} else {%>
                <li class="order-item">
                  <%}%>
                    <h5 class="text-center">Order #<%= order.id %></h5>

                    <div class="order-header">
                      <% order.products.forEach(product=> { %>
                        <div>
                          <h3 class="order-info">
                            <%= product.name %> - <span class="italic"><%= product.store_name %></span>
                          </h3>

                          <h5 class="order-price">
                            $<%= product.price %> - <span class="italic"><%= product.single_order_status %></span>
                          </h5>
                        </div>
                        <% }); %>
                    </div>


                    <p class="order-status">
                      <%= order.order_status %>
                    </p>

                    <p class="order-date">
                      <%= order.purchase_date %>
                    </p>


                    <form <% if (order.order_status!="pending") {%> inert <% } %> action="/api/user/order/<%=order.id%>" method="post" class="delete-button-form text-right">
                      <% if (order.order_status=="pending" ) { %> 
                        <button title="Cancel order" type="submit" class="cancel-button">
                          Cancel Order
                        </button>
                        <% } else { %>
                          <button type="submit"
                            class="cancel-button-disabled" disabled>
                            Cancel Order
                          </button>
                          <% } %>
                    </form>
                </li>
                <% }); %>
            </ul>
          </div>
          <% } else { %>
            <div class="empty-state">
              <p class="empty-message">No orders</p>
              <a href="/user" class="continue-shopping">
                Continue shopping
              </a>
            </div>
            <% } %>
      </div>
    </div>
  </div>
</body>