<body>
  <div class="sidebar-overlay overlay">
      <div class="sidebar-panel">
        <div class="sidebar-header">
          <div class="sidebar-header-content">
            <h2 class="sidebar-title">My Orders</h2>
            <button id="close-button" class="sidebar-close-button">
              Close
            </button>
          </div>
        </div>

        <% if (orders && orders.length> 0) { %>
          <div class="sidebar-content">
            <ul class="transaction-list">
              <% orders.forEach(order=> {
                if (order.status == "completed") {%>
                <li class="order-item-completed">
                  <%} else {%>
                <li class="order-item">
                  <%}%>
                    <div class="order-header">
                      <div>
                        <h3 class="order-info">
                          <%= order.name %>
                        </h3>
                        <h5 class="order-price">$<%= order.price %>
                        </h5>
                      </div>
                      <p class="order-status">
                        <%= order.status %>
                      </p>
                    </div>

                    <p class="order-date">
                      <%= order.purchase_date %>
                    </p>

                    <form action="/api/user/order/<%=order.id%>" method="post" class="delete-button-form text-right">
                      <% if (order.status=="pending" ) { %>
                        <button title="Cancel order" type="submit"
                          class="cancel-button">
                          Cancel Order
                        </button>
                        <% } else { %>
                          <button title="Your order is no longer pending. You can't cancel." type="submit"
                            class="cancel-button-disabled" disabled>
                            Cancel Order
                          </button>
                          <% } %>
                    </form>
                </li>

                <% }); %>
            </ul>
          </div>
          <% } else { %>
            <div class="empty-state">
              <p class="empty-message">No orders</p>
              <a href="/user"
                class="continue-shopping">
                Continue shopping
              </a>
            </div>
            <% } %>
      </div>
  </div>
</body>