<body>
    <section class="overlay">

        <div class="overlay-header">
            <button id="close-button" class="door-button">Close</button>
            <h3><%= store_name %>'s Categories</h3>
        </div>

        <% if (categories && categories.length > 0) { %>
            <div class="overlay-item-list">
                <% categories.forEach(category => { %>
                    <div class="overlay-item-card">
                        <a href="/api/category/get-products/<%= store_name %>-<%= store_id %>-<%= category.name %>-<%= category.id %>/0" class="item-card">
                            <h3><%= category.name %></h3>
                        </a>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="overlay-item-list">
                <p>No categories found for this store.</p>
            </div>
        <% } %>

    </section>
</body>
